.jp-MarkdownItSettings {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.jp-MarkdownItSettings h3 {
  margin-top: 0 !important;
}

.jp-mu-mod-disabled {
  opacity: 0.5;
}

.jp-MarkdownItSettings input[type='checkbox'] {
  margin-right: var(--jp-content-font-size2);
}

.jp-MarkdownItSettings > div {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 !important;
}

.jp-MarkdownItSettings header {
  flex: 0;
  min-width: fit-content;
  white-space: nowrap;
  overflow-y: auto;
  padding: var(--jp-content-font-size2);
  padding-left: 0;
  border-right: solid var(--jp-border-width) var(--jp-border-color2);
}

.jp-MarkdownItSettings header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jp-MarkdownItSettings article {
  flex: 1;
  overflow-y: auto;
  padding: var(--jp-content-font-size2);
}

.jp-MarkdownItSettings section > div {
  display: flex;
  flex-direction: row;
  border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
}

.jp-MarkdownItSettings h4:first-child {
  flex: 1;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.jp-MarkdownItSettings h4 label {
  cursor: pointer;
}

.jp-MarkdownItSettings-Docs {
  flex: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 !important;
  margin: 0;
}

.jp-MarkdownItSettings-Docs li {
  flex: 1;
  white-space: nowrap;
  padding-left: var(--jp-content-font-size2);
  list-style: none;
}
