.jp-MarkdownItSettings table {
  width: 100%;
}

.jp-MarkdownItSettings.jp-RenderedHTMLCommon thead th {
  text-align: center;
}

.jp-MarkdownItSettings.jp-RenderedHTMLCommon tbody th,
.jp-MarkdownItSettings.jp-RenderedHTMLCommon tbody td {
  text-align: left;
}
.jp-MarkdownItSettings.jp-RenderedHTMLCommon tbody td:last-child {
  text-align: center;
}
