.jp-MarkdownItSettings {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.jp-MarkdownItSettings div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.jp-MarkdownItSettings header {
  flex: 0;
  min-width: fit-content;
  white-space: nowrap;
  padding-right: var(--jp-content-font-size3);
  overflow-y: auto;
  padding: var(--jp-content-font-size3);
}

.jp-MarkdownItSettings header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jp-MarkdownItSettings article {
  flex: 1;
  overflow-y: auto;
  padding: var(--jp-content-font-size3);
}

.jp-MarkdownItSettings > div {
  display: flex;
  flex-direction: row;
  border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
}

.jp-MarkdownItSettings h4 {
  flex: 1;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.jp-MarkdownItSettings h4 label {
  cursor: pointer;
}

.jp-MarkdownItSettings-Docs {
  flex: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.jp-MarkdownItSettings-Docs li {
  flex: 1;
  white-space: nowrap;
  padding-left: var(--jp-content-font-size3);
  list-style: none;
}
